name: Lighthouse CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lhci:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout your repo
      - uses: actions/checkout@v3

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Run Lighthouse CI
      - name: Run Lighthouse CI
        run: |
          npx lhci autorun --upload.target=temporary-public-storage